@keyframes showMessageCopy {
  0% {
    z-index: 1;
    transform: translate(-50%, -20px);
    opacity: 0;
  }
  50% {
    transform: translateY(-50%, 0px);
    opacity: 1;
  }
  100% {
    z-index: 1;
    opacity: 0;
  }
}
